
html {
	font-family: HelveticaNeue, Helvetica
}

body {
	margin: 0;
}

#messages {
	height: 200px;
	overflow-y: scroll;
}

.message {
	padding: 5px;
	margin: 0px;
}

.message-in {
	background-color: rgb(200, 234, 200);
	color: rgb(52, 92, 52);
}

.message-out {
	background-color: rgb(240, 240, 240);
	color: rgb(10, 10, 10);
}

#messageInput {
  	height: 20px;
  	font-size: 1em;
	margin: 10px 5px 5px 5px;
}